/* Вчимо мову */

.dictionary {
    background-image: url(../img/Rectangle\ 20.png);
    width: 1440px;
    padding-top: 58px;

    height: 704px;
    background: url(../img/Rectangle\ 20.png), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.dictionary-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.foto-dictionory {
    width: 400px;
    height: 120px;
    flex-shrink: 0;
    padding: 10px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.foto-dictionory-two {
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.dictionary-tile {
    color: #141414;
    text-align: center;
    font-family: "HeadlandOne", sans-serif;
    font-size: 32px;
}

.dictionary-item {
    flex-basis: calc((100% - 60px) / 3);
    /* padding-right: 84px;
padding-right: 84px; */
    padding-top: 36px;
    padding-bottom: 36px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.7);
}

.dictionary-tex {
    color: #141414;

    width: 285px;
    height: 40px;
    text-align: center;
    font-family: "HeadlandOne";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* 100% */
}

.dictionary-img {
    text-align: center;
    width: 152px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}