/* Передбачення */
.foresight {
    color: #0a3853;

    text-align: center;
    font-size: 36px;

    color: #000;
    text-align: center;
    font-size: 24px;
}

.foresight-title {
    color: #141414;
    text-align: center;
    padding-top: 75px;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foresight-tex {
    color: #000;

    text-align: center;
    font-size: 24px;
}